//
//  DevMain.xcconfig
//  FaceStickerMaker
//
//  Created by Spencer Feng on 20/4/21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCT_BUNDLE_IDENTIFIER = au.com.incrementaldigital.FaceStickerMaker.dev

PRODUCT_NAME = FaceSticker (Dev)
